.banner-image {
    width: 100%;
    height: auto;
    max-width: fit-content;
  }
  
  .btn-on-image {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    color: white;
  }
  .btn-on-image:hover {
    background-color: rgb(72, 0, 144);
    border-color: rgb(72, 0, 144);
    color: white;
  }

  .main-title{
    font-weight: bold;
  }


  .card-img-top{
    height: 200px;
    object-fit: cover;
  }

  .card-body{
    min-height: 200px;
  }

  .detail-btn{
    margin-top: auto;
  }